// Seccion Cards Populares
.pop{
    display: inline-block;
    width: 45%;
    margin: 0 40px;

    &__card{
        display: inline-block;
        vertical-align: top;
        margin: 0 20px;
        height: 300px;
    }
    &__card-image{
        width: 200px;
        height: 150px;
        object-fit: cover;
    }

    &__card-body{
        width: 200px;
    }

    &__card-text{
        margin: 0;
    }

    &__card-title{
        height: 50px;
        margin: 0;
    }

    &__card-footer-image{
        width: 30px;
        margin: 15px 0;
        border-radius: 25px;
        vertical-align: middle;
    }
}






