.footer {
    display: flex;
    align-items: center;
}

.logo__footer{
    width: 70%;
    margin: 10px auto;
    font-weight: 700;
}

.logo__footer-text{
    margin: 0 auto;
    float: right;
    font-weight: 400;
}